@tailwind base;
@tailwind components;
@tailwind utilities;

#wrapper {
    padding-top: 80px;
}

.delete-x-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 12px;
    width: 20px;
    height: 20px;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    background-color: #0d6efd;
    color: #fff;
}

.pagination-container {
    position: relative;
}

.pagination-container p {
    display: none;
}

.alerts-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10000;
    padding: 0 14px;
    min-width: 350px;
    max-width: 500px;
}

.alert {
    color: #fff;
    z-index: 10000;
}

.alert-success {
    background-color: #009267;
    border-color: #017352;
}

.alert-danger {
    background-color: #d20505;
    border-color: #bd0404;
}

.alert-info {
    background-color: #0041af;
    border-color: #013998;
}

.alert .btn-close {
    font-size: 0.5rem;
    font-weight: bold;
    color: #fff !important;
}


